@import '../../../styles/utils.scss';

.todo {
  //remove
  position: absolute;
  bottom: 10%;
  right: 4%;

  display: inline-block;
}

.todo-dropdown.dropdown-window {
  position: absolute;
  
  right: -20%;
  bottom: 150%;
}

.todo-app {
  min-width: 320px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    @include fontSize(20px);
  }

  &__clear-button {
    @include fontSize(15px);

    color: $text-color-primary;
    padding: 6px 30px;

    cursor: pointer;
    &:hover {
      background-color: $bg-color-drop-hover;
    }
  }

  &__main {
    width: 100%;
    padding: 21px;
    text-align: center;
  }

  &__title-empty {
    margin-bottom: .7rem;
    opacity: .7;
  }

  &__button-empty {
    @include fontSize(14px);

    text-shadow: none;
    color: $text-color-primary;
    padding: 7px 27px 8px;
    background: rgba(255,255,255,.3);
    border-radius: 50px;

    transition: opacity .3s ease;
    cursor: pointer;

    &:hover {
      background: rgba(255,255,255,.4);
    }
  }

  &__footer {
    min-height: 40px;
    display: flex;
    align-items: flex-end;
  }

  &__input-empty {
    display: block;
    width: 100%;
    opacity: .75;
    
    color: $text-color-primary;
    font-weight: 600;
  }
}