$text-color-primary: rgba(255, 255, 255, .85);

$background-color-primary: rgba(15, 15, 15, 0.925);
$background-color-secondary: rgba(255, 255, 255, .09);
$bg-color-drop-hover: rgba(255, 255, 255, 0.12);
$border-radius-primary: 5px;