@import '../../../styles/utils.scss';

.todo-list {

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__text {
    &--completed {
      text-decoration: line-through;
      opacity: .5;
    }
  }

  &__item-settings {
    display: flex;
    margin-left: auto;
  }

  &__edit-input {
    color: $text-color-primary;
    opacity: .73;
  }
}

.edit-buttons {

  &__button {
    display: block;
    width: 100%;
    padding: 6px 30px;

    @include fontSize(14px);
    color: $text-color-primary;
    text-align: left;

    border-bottom: 1px solid $bg-color-drop-hover;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .15);
    }
  }
}