@import '../../../styles/utils.scss';

.search {
  justify-content: center;
  align-items: center;
  display: flex;

  margin-left: 1rem;
  padding: 5px;
  
  min-width: 234px;
  border-bottom: 2px solid transparent;
  transition: .35s ease;

  &:hover {
    border-bottom: 2px solid rgba(255, 255, 255, .45);
  }

  &:hover &__search-engine {
    opacity: .45;
  }

  &--focused {
    border-bottom: 2px solid $text-color-primary;

    &:hover {
      border-bottom: 2px solid $text-color-primary;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    cursor: text;
  }

  &__input {
    color: #fff;
    padding: 5px 15px;
  }

  &__search-engine {
    height: 18px;
    width: 18px;
    opacity: 0;
    transition: .35s ease;

    &--active {
      opacity: .85 !important;
    }
  }
}